i span[data-time=cloudy] {
    padding-left:50%;
    color:#5a77cd;
}
i span[data-time=sunny] {
    color:#FFDE17;
}
i span[data-time=windy] {
    color:#5a77cd;
}
i span[data-time=cloudy] {
    color:#5a77cd;
}
i span[data-time=foggy] {
    color:#3d5fc3;
}
i span[data-time=stormy] {
    color:#FFDE17;
}
i span[data-time=snow] {
    color:#fff;
}