@keyframes scrollingTop {
    0% { margin-top: -760px};
    100% { margin-top: 0px; }
}
@keyframes scrollingLeft {
    0% { margin-left: -360px};
    100% { margin-left: 0px; }
}
@keyframes scrollingRight {
    0% { margin-left: 360px};
    100% { margin-left: 0px; }
}